.test
{
    font-weight: bold;
}

svg {
    width: 1px; /* Dostosuj szerokość ikony do preferencji */
    height: 1px; /* Dostosuj wysokość ikony do preferencji */
    /* fill: #007bff;  Kolor wypełnienia ikony */
  }



div{
    padding-bottom: 1px;
}
