.test
{
    font-weight: bold;
}

svg {
    width: 20px; /* Dostosuj szerokość ikony do preferencji */
    height: 20px; /* Dostosuj wysokość ikony do preferencji */
    fill: #007bff; /* Kolor wypełnienia ikony */
  }
