.test
{
    font-weight: bold;
}

svg {
    width: 1px; /* Dostosuj szerokość ikony do preferencji */
    height: 1px; /* Dostosuj wysokość ikony do preferencji */
    /* fill: #007bff;  Kolor wypełnienia ikony */
  }

div{
    padding-bottom: 1px;
}

.aktualne {
    font-weight: bold;
    font-style: italic;
    color: #1900ff; /* kolor podświetlenia */
}

active{
    font-weight: bold;
    font-style: italic;
    color: #26233b; /* kolor podświetlenia */
}

.test{
    font-weight: bold;
    color:#ff0000 red;
}

.normal-link {
    color: inherit; /* Użyj koloru dziedziczonego od rodzica */
    text-decoration: none; /* Usuń podkreślenie */
    cursor: text; /* Zmień kursor na tekstowy */
}

.szeroki-przycisk {
    width: 100%;
    padding: 10px; /* Możesz dostosować padding według własnych preferencji */
    box-sizing: border-box; /* Zapewnia, że padding nie dodaje się do szerokości */
}
